@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-main-background: var(--color-slate-50);
  --color-card-background: var(--color-white);
  --color-main-text: var(--color-slate-900);
  --color-secondary-text: var(--color-slate-500);
  --color-highlight: var(--color-indigo-600);
  --color-border: var(--color-slate-200);
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-main-background: var(--color-slate-900);
  --color-card-background: var(--color-slate-800);
  --color-main-text: var(--color-slate-50);
  --color-secondary-text: var(--color-slate-400);
  --color-highlight: var(--color-indigo-500);
  --color-border: var(--color-slate-700);
}
